<template>
  <a-card class="movie-item">
    <img
      v-if="movie.poster"
      class="movie-poster"
      :alt="`Poster for ${movie.title}`"
      :src="`/posters${movie.poster}`"
    />
    <template slot="actions">
      <!-- No particular affiliation to this site, found through Google -->
      <a
        :href="`https://www.justwatch.com/us/search?q=${encodeURIComponent(
          movie.title
        )}`"
        target="_blank"
      >
        Find Streams
      </a>
    </template>
    <a-card-meta :title="movie.title">
      <template slot="description">
        <a-divider plain>Cast</a-divider>
        <div className="actor-list">
          <div v-for="actor in movie.actors" :key="actor.name">
            {{ actor.name }}
          </div>
        </div>
      </template>
    </a-card-meta>
  </a-card>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  props: {
    movie: {
      type: Object,
      default: null,
    },
  },
})
</script>

<style lang="scss">
.ant-card.movie-item {
  width: 400px;
  margin-top: 15px;

  .ant-card-cover {
    display: flex;
    justify-content: space-around;
    padding-top: 24px;
    .movie-poster {
      max-height: 200px;
      width: auto;
    }
  }

  .ant-card-meta-title {
    padding-top: 5px;
  }
}
</style>
