<template>
  <a-row type="flex" justify="space-around" align="middle" class="movie-list">
    <a-col v-if="!movies.length">
      <a-empty description="No movies found!" />
    </a-col>
    <MovieItem
      v-for="movie in movies"
      v-show="movie.show"
      :key="movie.id"
      :movie="movie"
    />
  </a-row>
</template>

<script lang="ts">
import Vue from 'vue'
import { Movie } from '~/types'

export default Vue.extend({
  computed: {
    movies(): Movie[] {
      return this.$store.state.movies
    },
  },
})
</script>

<style lang="scss">
.movie-list {
  margin: 10px;
}
</style>
