<template>
  <a-input
    placeholder="Search For A Movie... (title, actor or genre)"
    @input="filterMovies($event.target.value)"
  />
</template>

<script lang="ts">
import Vue from 'vue'
import { mapMutations } from 'vuex'

export default Vue.extend({
  methods: {
    ...mapMutations({
      filterMovies: 'movies/filter',
    }),
  },
})
</script>
