<template>
  <pre>{{ movieData }}</pre>
</template>

<script lang="ts">
import Vue from 'vue'
import movieData from '../store/movieData.json'

export default Vue.extend({
  data: () => ({
    movieData,
  }),
})
</script>
