<template>
  <a-layout class="app">
    <a-layout-header class="app-header">
      <SearchBar />
    </a-layout-header>
    <a-layout-content class="app-content">
      <MovieList />
    </a-layout-content>
  </a-layout>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({})
</script>

<style lang="scss">
.app {
  min-height: 100vh;
  text-align: center;

  .app-content {
    overflow: scroll;
  }
}
</style>
